@import '../variables';

.pagination {
  margin-bottom: 50px;
  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    text-align: center;
    width: 45px;
    line-height: 42px;
    height: 45px;
    border: 1px solid $orange;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      background-color: $orange;
      color: #fff;
    }
  }

  .selected {
    a {
      background-color: $orange;
      color: #fff;
    }
  }
}
